.wrapper_with_padding
  #note_show

    %h1.title= @note.title
    %p= simple_format(@note.message)

    -# = link_to "All Notes", notes_path
    .buttons
      = link_to "Edit", edit_note_path(@note), class: "button"
      = link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Do you really want to delete?" }, class: "button"