#banner
  .banner_content
    %h1 VladderNote
    %p The Rails Evernote Clone. Keep your thoughts together.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The best Evernote clone I've ever used, granted I've only used one but trust me, this is amazing!"
    %p.name - Vlad Marinov

#callouts
  .callout_inner 
    .wrapper 
      .callout
        %i.fa.fa-paper-plane
        %h2 Easy To Use
        %p Our application is extremely easy to use, just like making a paper plane. The simplicity of the interface makes it easy to navigate, style, and share (coming soon) your notes with others as a way of keeping your thoughts private. Support is available in case needed but the interface is so simple that you might not even need it. 
    .wrapper 
      .callout
        %i.fa.fa-paperclip
        %h2 Take Notes
        %p You can take notes with the press of a few buttons and get right onto dictating whatever you need. The notes are always available online and can be opened anywhere as long as you sign into your account. There are no fees and no advertisements. Our end goal is user satisfaction and happiness.
    .wrapper
      .callout
        %i.fa.fa-code
        %h2 Edit Using HTML
        %p Notes can be easily styled and organized using HTML tags. This allows for a universal notation method that can easily be used by many people. Essentially the goal is to make notes fun to edit and a way to organize your thoughts in a way that benefit you.   

#bottom_cta
  .wrapper
    %h2 Fo Shizzle!
    %p You guys should sign up, this stuff is really cool
    %button= link_to "You Should Press Me", new_user_registration_path

%footer
  %p &copy Vlad Marinov 2015