#banner
  .banner_content
    %h1 VladderNote
    %p The Rails Evernote Clone. Keep your thoughts together.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The best Evernote clone I've ever used, granted I've only used one but trust me, this is amazing!"
    %p.name - Vlad Marinov

#callouts
  .callout_inner 
    .wrapper 
      .callout
        %i.fa.fa-paperclip
        %h2 Notes
        %p Lorem ipsum dolor sit amet, mel dicant philosophia vituperatoribus ex, tibique corpora has ei. Mel eu posse doctus platonem, ei est dolores referrentur. Cu posidonium adversarium mea. Cum ut summo ludus causae, ex nec recusabo praesent. Zril elaboraret reprehendunt id nec, ne sed doming omittantur interpretaris, modo persius contentiones ea sit. Ut erat fierent mel, et has civibus corrumpit voluptatibus, eum ex latine veritus quaestio.
    .wrapper 
      .callout
        %i.fa.fa-paper-plane
        %h2 Easy To Use
        %p Lorem ipsum dolor sit amet, mel dicant philosophia vituperatoribus ex, tibique corpora has ei. Mel eu posse doctus platonem, ei est dolores referrentur. Cu posidonium adversarium mea. Cum ut summo ludus causae, ex nec recusabo praesent. Zril elaboraret reprehendunt id nec, ne sed doming omittantur interpretaris, modo persius contentiones ea sit. Ut erat fierent mel, et has civibus corrumpit voluptatibus, eum ex latine veritus quaestio.
    .wrapper 
      .callout
        %i.fa.fa-laptop
        %h2 Stored Online
        %p Lorem ipsum dolor sit amet, mel dicant philosophia vituperatoribus ex, tibique corpora has ei. Mel eu posse doctus platonem, ei est dolores referrentur. Cu posidonium adversarium mea. Cum ut summo ludus causae, ex nec recusabo praesent. Zril elaboraret reprehendunt id nec, ne sed doming omittantur interpretaris, modo persius contentiones ea sit. Ut erat fierent mel, et has civibus corrumpit voluptatibus, eum ex latine veritus quaestio.   

#bottom_cta
  .wrapper
    %h2 Fo Shizzle!
    %p You guys should sign up, this stuff is really cool
    %button= link_to "You Should Press Me", new_user_registration_path

%footer
  %p &copy Vlad Marinov 2015