#banner
  .banner_content
    %h1 VladderNote
    %p The Rails Evernote Clone. Keep your thoughts together.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The best Evernote clone I've ever used, granted I've only used one but trust me, this is amazing!"
    %p.name - Vlad Marinov

#callouts
  .callout_inner 
    .wrapper 
      .callout
        %h2 Notes
        %p Lorem ipsum dolor sit amet, propriae luptatum sed an. Diam omittantur eam ea, lobortis eleifend adolescens est at, quaeque qualisque assueverit cu sea. Errem graeco mediocrem ut sit, mei duis aperiam ocurreret ex, percipit intellegebat et ius. Ius an mundi lucilius scripserit.
    .wrapper 
      .callout
        %h2 Rocket
        %p Lorem ipsum dolor sit amet, propriae luptatum sed an. Diam omittantur eam ea, lobortis eleifend adolescens est at, quaeque qualisque assueverit cu sea. Errem graeco mediocrem ut sit, mei duis aperiam ocurreret ex, percipit intellegebat et ius. Ius an mundi lucilius scripserit.
    .wrapper 
      .callout
        %h2 Lightning
        %p Lorem ipsum dolor sit amet, propriae luptatum sed an. Diam omittantur eam ea, lobortis eleifend adolescens est at, quaeque qualisque assueverit cu sea. Errem graeco mediocrem ut sit, mei duis aperiam ocurreret ex, percipit intellegebat et ius. Ius an mundi lucilius scripserit.    

#bottom_cta
  .wrapper
    %h2 Fo Shizzle!
    %p You guys should sign up, this stuff is really cool
    %button= link_to "You Should Press Me", new_user_registration_path

%footer
  %p &copy Vlad Marinov 2015